canvas {
    border:5px solid #e01b1b;
    
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    ;

}
h1{
    color: red;
    font-family: Verdana;
    font-size: 40px;
}
body{
    background-image: url("Untitled-1.png" ) ;
   
    height:auto;
    

    background-repeat:no-repeat ;

    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
}
p{
    color:white;
    
}